<div>
  <form method="post">
    Username: <input name="username" type="text"> <br>
    Password: <input name="userpass" type="password"> <br>
    <input type="hidden" name="_csrf_token" value=<%= @csrf %> >
    <input type="submit" value="Submit"> <br>
  </form>
</div>
